{% extends 'base.html' %}

{% block content %}
<div class="border row">
  <div class="border col-md-6 p-3 col-md-offset-5">
    <h1>Followed Pages</h1>
    <form method="post" class="form my-2 my-lg-1">
      {% csrf_token %}
      <div class="row mx-0">
      {{ page_form.url }}
      <button class="btn btn-success ml-4 col-md-2" type="submit">Add</button>
    </div>
    </form>
    <table class="table table-hover my-2">
      {% for pages in object_list %}
      <tr>
        <td>{{pages.url}}</td>
        <td align="right">
          <a class="btn btn-secondary btn-sm" href="{% url 'facebook:show' pk=pages.pk %}">Show</a>
          <a class="btn btn-primary btn-sm" href="{% url 'facebook:update' pk=pages.pk %}">Update</a>
          <a class="btn btn-danger btn-sm" href="{% url 'facebook:delete' pk=pages.pk %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="border col-md-6 p-3 col-md-offset-5">
    <h1>Followed Posts</h1>
    <form method="post" class="form my-2 my-lg-1">
      {% csrf_token %}
      <div class="row mx-0">
      {{ post_form.url }}
      <button class="btn btn-success ml-4 col-md-2" type="submit">Add</button>
    </div>
    </form>
    <table class="table table-hover my-2">
      {% for posts in object_list %}
      <tr>
        <td>{{posts.url}}</td>
        <td align="right">
          <a class="btn btn-secondary btn-sm" href="{% url 'facebook:show' pk=posts.pk %}">Show</a>
          <a class="btn btn-primary btn-sm" href="{% url 'facebook:update' pk=posts.pk %}">Update</a>
          <a class="btn btn-danger btn-sm" href="{% url 'facebook:delete' pk=posts.pk %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
</div>

{% endblock %}
