{% extends 'base.html' %}

{% block content %}
<div class="border row">
    <h1>Followed Posts</h1>
    <form method="post" class="form my-2 my-lg-1">
      {% csrf_token %}
      <div class="row mx-0">
      {{ form.url }}
      <button class="btn btn-success ml-4 col-md-2" type="submit">Add</button>
    </div>
    </form>
    <table class="table table-hover my-2">
      <thead class="table-dark">
        <!--
        <tr>
    			<th>ID/URL</th>
    			<th>Pages number</th>
    			<th>Created time</th>
    		</tr>
      -->
    	</thead>
      <tbody>
      {% for posts in object_list %}
      <tr>
        <td>{{posts.url}}</td>
        <td align="right">
          <a class="btn btn-secondary btn-sm" href="{% url 'facebook:show' pk=posts.pk %}">Show</a>
          <a class="btn btn-primary btn-sm" href="{% url 'facebook:update' pk=posts.pk %}">Update</a>
          <a class="btn btn-danger btn-sm" href="{% url 'facebook:delete' pk=posts.pk %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
      <tbody>
    </table>
</div>

{% endblock %}
