{% extends 'base.html' %}
{% block content %}
{% if posts %}
<center><h3 style="margin:10px">Posts</h3></center>
<table class="table">
	<thead class="table-dark">
		<tr>
			<th>Id</th>
			<th>Message</th>
			<th>Picture</th>
			<th>Link</th>
			<th>Name</th>
			<th>Description</th>
			<th>Type</th>
			<th>Created time</th>
			<th>Shares</th>
			<th>Likes</th>
			<th>Love</th>
			<th>Wow</th>
			<th>Haha</th>
			<th>Sad</th>
			<th>Angry</th>
			</tr>
	</thead>
	<tbody>
		{% for post in posts %}
		<tr>
			<td>{{post.id}}</td>
			<td>{{post.message}}</td>
			<td><img src="{{post.picture}}"/></td>
			<td>{{post.link}}</td>
			<td>{{post.name}}</td>
			<td>{{post.description}}</td>
			<td>{{post.type}}</td>
			<td>{{post.created_time}}</td>
			<td>{{post.shares}}</td>
			<td>{{post.likes}}</td>
			<td>{{post.love}}</td>
			<td>{{post.wow}}</td>
			<td>{{post.haha}}</td>
			<td>{{post.sad}}</td>
			<td>{{post.angry}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<ul class="pager">
	{% if page_obj.has_previous %}
	<a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}
	{% if page_obj.has_next %}
	<a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
	{% endif %}
</ul>
{% else %}
<h1>There's no record</h1>
{% endif %}
{% endblock%}
